#logo
{
    font-size: 42px;
}

.intraheader h2
{
    font-size: 36px;
}

.intraheader h3
{
    font-size: 30px;
}

.intraheader h4
{
    font-size: 24px;
}

.intraheader h5
{
    font-size: 180px;
}

.intraheader
{
    color: #FFFFFF;
    background-color: #00b0ff;
    text-align: center;
}

#loginConfirm
{
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(0, 176, 255, 1);
}