.shadow-on-hover:hover
{
   box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
   transition: 0.5s;
   -webkit-transition: 0.5s;
}

.header-left
{
  display: flex;
  width: auto;
}

.logo-wrapper
{
  display: flex;
  flex-direction: row !important;
   width: auto;
   height: 100%;
}

.logo-wrapper *
{
   align-self: center;
}

.epitech-logo
{
   height: 100%;
   width: auto;
}

.header-msg
{
  position: absolute;
  font-size: 2em;
  margin-left: 80px;
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 979px)
{
  .header-msg
  {
    visibility: hidden;
  }
}

.header-msg span
{
  align-self: center;
}

.card.hidden
{
   transition: 0.5s;
   opacity: 0;
   display: none;
}

.project-info
{
   position: absolute;
   z-index: 5;
   top: 64px;
   left: 0;
   padding-bottom: auto;
   min-height: 100%;
   width: 100%;
   transition: 0.5s;
   animation: slide-from-top 0.5s;
}

.project-info .container
{
   height: 100%;
}

.go-back
{
   display: flex;
   margin: 20px;
   justify-content: flex-end;
   width: calc(100% - 40px);
   max-height: 100px;
   cursor: pointer;
}

.clickable
{
   cursor: pointer;
}

.short-info
{
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.project-slider
{
   min-width: 400px;
}

.project-img
{
   max-width: 600px;
   max-height: 100%;
}

.project-short-info
{
   margin: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.borded
{
   background-color: white;
   border: 2px solid #1E88E5;
}

.important-project-container
{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 530px;
   overflow: auto;
}

.roboto
{
   font-family: "Roboto";
}

.title
{
   padding: 20px;
}

.right-shifted
{
   padding-left: 50px;
}

.little-right-shifted
{
   padding-left: 15px;
}

.card .card-image img
{
   min-height: 33vh;
   max-height: 33vh;
}

.important-project
{
   min-height: 400px !important;
   min-width: 400px !important;
   max-width: 400px !important;
   max-height: 400px !important;
}

.no-extend
{
  object-fit:contain;
  /*object-fit:cover;*/
}

.top-margin
{
  margin-top: 30px;
}

@keyframes slide-from-top
{
   from {margin-top: -100%;}
   to {margin-top: 0%;}
}
