<!DOCTYPE html>
<html ng-app="calendarApp">
  <head>
    <meta charset='utf-8' />
    <link href='<?php echo css_url("fullcalendar.min");?>' rel='stylesheet' />
    <link href='<?php echo css_url("fullcalendar.print");?>' rel='stylesheet' media='print' />
    <script src='<?php echo js_url("libraries/moment.min");?>'></script>
    <script src='<?php echo js_url("libraries/fullcalendar.min");?>'></script>
    <script src='<?php echo js_url("calendarApp");?>'></script>
  </head>
  <body ng-controller="calendarCtrl">
      <div class="container top-margin">
          <div id="calendar"></div>
      </div>
  </body>
</html>
