<footer class="page-footer light-blue darken-1">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <!--<h5 class="white-text">Footer Content</h5>-->
            <p class="grey-text text-lighten-4">"L’<a class="grey-text text-lighten-3" href="http://epitech.eu" target="_blank">Epitech</a> Innovation Hub est une forme innovante de collaboration entre étudiants, experts et entreprises, qui partagent et appliquent leurs compétences dans la fabrication de solutions technologiques novatrices."</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Liens</h5>
            <ul>
               <li><a class="grey-text text-lighten-3" href="http://intra.epitech.eu" target="_blank">intra.epitech.eu</a></li>
               <li><a class="grey-text text-lighten-3" href="<?php echo '#!'; ?>">Fiche Projet</a></li>
               <li><a class="grey-text text-lighten-3" href="<?php echo base_url() . 'assets/documents/charte_reglement.png'; ?>" download>Règlement Intérieur</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         © 2016 - Intra Hub Epitech Marseille
         <a class="grey-text text-lighten-4 right" href="http://www.epitech.eu/laboratoires-informatiques.aspx" target="_blank">Open your mind and drive forward.</a>
      </div>
   </div>
</footer>
