<header>
  <div class="navbar-fixed">
     <nav class="blue darken-4">
       <div class="nav-wrapper">
          <div class="logo-wrapper brand-logo">
             <img class="material-icon epitech-logo" src="assets/images/epitech.png"></img>
          </div>
          <ul class="right hide-on-med-and-down">
             <li><a href="/intra-hub/accueil.html">Accueil</a></li>
             <li><a href="/intra-hub/projets.html">Projets</a></li>
             <li><a href="/intra-hub/calendar.html">Calendrier</a></li>
             <li><a href="/intra-hub/projets.html">Back-office</a></li>
          </ul>
     </div>
  </nav>
</div>
</header>
