<!DOCTYPE html>
<head>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="/intra-hub/assets/css/materialize.min.css"  media="screen,projection"/>
   <link type="text/css" rel="stylesheet" href="/intra-hub/assets/css/style.css"  media="screen,projection"/>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
  <div class="navbar-fixed">
     <nav class="blue darken-4">
       <div class="nav-wrapper">
            <div class="logo-wrapper brand-logo">
               <img class="material-icon epitech-logo" src="/intra-hub/assets/images/epitech.png"></img>
                  <span>{HUB Marseille}</span>
            </div>
          <ul class="right hide-on-med-and-down">
             <li><a href="/intra-hub/index.php/Home">Accueil</a></li>
             <li><a href="/intra-hub/index.php/Projectsload">Projets</a></li>
             <li><a href="/intra-hub/calendar.html">Calendrier</a></li>
             <li><a href="/intra-hub/projets.html">L'equipe</a></li>
          </ul>
     </div>
  </nav>
</div>
</header>
