<!DOCTYPE html>
<html ng-app="intraApp">
  <body ng-controller="projectCtrl">
     <div class="container blue darken-1 row">
        <div class="col s12 m4 12" ng-repeat="project in projects">
           <div class="row">
             <div class="card shadow-on-hover">
                <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" ng-src="{{'/assets/images/projets/' + project.main_picture}}">
                </div>
                <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">{{project.name}}<i class="material-icons right">more_vert</i></span>
                </div>
                   <p class="truncate">{{project.short_description}}</p>
                   <p class="clickable" ng-click="setCurrent(project)"><a>Voir plus</a></p>
                <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">{{project.name}}<i class="material-icons right">close</i></span>
                   <p>{{project.description}}</p>
                </div>
             </div>
           </div>
         </div>
      </div>
      <div class="project-info" ng-hide="current == null">
         <div class="container borded">
            <div class="go-back" ng-click="current = null">
               <h5><a>Retourner sur les projets</a></h5>
            </div>
            <div class="short-info">
               <div class="project-slider">
                  <img class="project-img" ng-src="{{'/assets/images/projets/' + current.main_picture}}"/>
               </div>
               <div class="project-short-info">
                  <div class="flow-text">Nom du projet: {{current.name}}</div>
                  <div class="flow-text">Cree le : {{current.creation_date}}</div>
                  <div class="flow-text">Createur: {{current.owner}}</div>
               </div>
            </div>
            <div class="project-description">
               <h5>Description</h5>
               <p class="flow-text">
                  {{current.description}}
            </p>
            </div>
         </div>
      </div>
    <!-- libs -->
    <script type="text/javascript" src="/assets/js/libraries/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/libraries/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/libraries/angular.min.js"></script>
    <!-- ctrl & directives angular -->
    <script type="text/javascript" src="/assets/js/intraApp.js"></script>
  </body>
</html>
